@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

:root{
    --primary-font: "Gamja Flower", sans-serif;
    --background:url("../Images/background.png");
    --filter-img: url(../Images//filterbuttonbackground.jpg);
    --semi-transprant-background: rgba(255, 255, 255, 0.8);
    --box-shadow: 2px 2px 7px 1px rgba(0,0,0,0.2)
    
}



/*Myers Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
   
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    background-image:var(--background);
    background-size: 100%;
    
}

/* ---- Nav Bar ---- */
.nav-bar {
    display: flex;
    justify-content: space-between; /* nav links left, profile pic right */
    align-items: center;           /* vertically center everything */
    padding: 0 20px;               /* some spacing on the sides */
    height: 60px;                 
    background-color:var(--semi-transprant-background); /* semi-transparent nav bar */
    box-shadow: var(--box-shadow);
}
.nav-bar nav {
    display: flex;
    gap: 20px; /* space between links */
}


.nav-styles {
    color: black;
    text-decoration: none;
    background-color: transparent;
    display: inline-flex   ;
    border-radius: 50px;
    height: 40px;
    width: 140px;
    font-size: 20px;
    font-family: var(--primary-font);
    justify-content: center;
    align-items: center;
    
}


.nav-styles:hover{
    background-image: linear-gradient(
        rgba(197, 130, 220, 0.8),
        rgba(225, 129, 241, 0.8)
    );
  
}


.profilePic {
    height: 45px;
    width: 45px;
    border-radius: 50%; /* makes it circular */
    object-fit: cover;  /* ensures image fills container nicely */
}

/* Home Page Body */

.mainLayout {
    border: 1px solid black;
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    margin-left: 50px;
    margin-top: 50px;
}
.titleBox{
    border: 1px solid transparent;
    display: inline-flex;
    justify-content: space-between;
    width: 600px;
    height: auto;
    margin-left: 100px;
    margin-top: 50px;
}

.title{
    font-size: 70px;
    font-family: var(--primary-font)
}

/*Filter */

.filterButton{
   width: 100px;
   border: none;
   cursor: pointer;
   height: 40px;
   border-radius: 25px;
   margin-top: 20px;
   font-size: 20px;
   font-family: var(--primary-font);
   background-color: #ff8acf;
   box-shadow: 0 4px 10px rgba(255, 138, 207, 0.4);
   transition:all 0.2 ease

}

.filterButton:hover{
    background-color: #ff70c4;
    transform: translateY(-2px);
    box-shadow: 0 0px 14px rgba(255, 138, 207, 0.6);
}



.transactionBody{
   
    width: 43em;
    height: auto;
    margin-left: 50px;
    display: flex;
    align-items: center;
    flex-direction:column;
    
}
/* date of transaction*/

.date{
   
    width: 200px;
    height: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: var(--primary-font);
    font-size: 25px;
}

/* styles dealing with inside of transactionBox*/
.transactionInfo{
    margin: 10px;
    height: 50px;
    width: 500px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap:wrap;
    background-color:var(--semi-transprant-background); /* semi-transparent nav bar */
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    
}

.purchaseReason{
    font-family: var(--primary-font);
    font-size: 18px;
}

.tagsBox{
    font-family: var(--primary-font);
    font-size: 18px;
    margin-left: 325px;
}   



.accountBox{
    border: 1px solid black;
    display: inline-flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    margin-left: 150px; 
    margin-bottom: 200px;
    
}


.accountTitle{
    font-family: var(--primary-font);
    font-size: 50px;
    display: flex;
    justify-content: space-between;
}

.addAccountButton{
    background-color: transparent;
    border: none;
    font-size: 40px;
    margin-right: 50px;
    cursor: pointer;
    font-family: var(--primary-font);
}

.AccountList{
    margin-top: 20px;
    font-family: var(--primary-font);
    font-size: 35px;
    display: flex;
   
    flex-direction: column;
}

